@use "../styles/global.scss" as *;
@use "../styles/partials/variables" as *;
@use "../styles//partials/typography" as *;
@use "../styles/partials/mixins" as *;

.Blog {
  background-color: $Yellow;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  &__card {
    width: 60vw;

    background-color: $White;
    padding: 1.5rem;
    border: 1px solid $Black;
    box-shadow: 5px 5px 0px 5px $Black;
    border-radius: 15px;

    @include desktop {
      width: 25%;
    }

    &__image {
      img {
        width: 100%;
        border-radius: 15px;
      }
    }
    &__info {
      margin: 1.2rem 0;
      h4 {
        background-color: $Yellow;
        padding: 0.4rem 0.6rem;
        width: fit-content;
        border-radius: 3px;
        margin: 1rem 0;
        font-family: "Figtree-ExtraBold";
      }
      .date {
        margin: 0.3rem 0;
        font-size: 15px;
        font-family: "Figtree-SemiBold";
      }
      h2 {
        font-family: "Figtree-ExtraBold";
        margin: 1rem 0;
        font-size: 1.2rem;
      }
      h2:hover {
        color: $Yellow;
      }

      .statement {
        font-size: 12px;
        font-family: "Figtree-Variable";
        color: $Grey;
        @include desktop {
          font-size: 15px;
        }
      }
    }
    &__author {
      display: flex;
      align-items: center;
      gap: 10px;
      // margin: 2rem 0;
      img {
        width: 15%;
      }
      h4 {
        font-family: "Figtree-ExtraBold";
        font-size: 14px;
      }
    }
  }
  .Blog__card:hover {
    box-shadow: 10px 10px 0px 10px $Black;
  }
}
